<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/styles.css}" rel ="stylesheet"/>
    <title>Welcome to ProteinNET</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
<div class="cards">

    <div class="card" th:each="user: ${users}">
        <div class="content">
            <div class="top">
                <p th:text="'ID: ' + ${user.personId}"></p>
            </div>
            <div class="middle">
                <div>
                    <p th:text="'Age: ' + ${user.age}"></p>
                    <p th:text="'Height: ' + ${user.height}"></p>
                    <p th:text="'City: ' + ${user.city}"></p>
                    <p th:text="'Name: ' + ${user.firstName + ' ' + user.lastName}"></p>
                </div>
                <img src="https://api.multiavatar.com/Starcrasher.png"/>

            </div>
            <div class="bottom">
                <div>
                    <p>Squat</p>
                    <p th:text="${user.squat}"></p>
                </div>
                <div>
                    <p>Bench</p>
                    <p th:text="${user.bench}"></p>
                </div>
                <div>
                    <p>Deadlift</p>
                    <p th:text="${user.deadlift}"></p>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>
